{
  "env": {
    "development": {
      "presets": [["es2015", {"modules": false}], "react", "stage-0"],
      "plugins": [
        "transform-class-properties",
        "react-hot-loader/babel",
        "syntax-dynamic-import"
      ]
    },
    "production": {
      "presets": [["es2015", {"modules": false}], "react", "stage-0"],
      "plugins": [
        "transform-class-properties",
        "syntax-dynamic-import"
      ]
    },
    "test": {
      "presets": ["es2015", "react", "stage-0"],
      "plugins": ["istanbul", "syntax-dynamic-import"]
    }
  }
}
