API_KEY='YOUR API_KEY HERE'
API_SECRET='YOUR API_SECRET HERE'
CLOUD_NAME='YOUR CLOUD_NAME HERE'
UPLOAD_PRESET='YOUR UPLOAD_PRESET HERE'
JWT_TOKEN_EXPIRE_TIME='YOUR TIME HERE'
JWT_SECRET='YOUR SECRET HERE'
MONGO_URI='YOUR DB HERE'
ROOT_URL='YOUR URL HERE'
