{
  "extends": "rallycoding",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
   },
  "globals": {
    "document": true,
  },
  "rules": {
    "no-underscore-dangle": 0,
    "camelcase": 0
  }
}
