language: node_js
node_js: node
services:
- mongodb
env:
- CXX=g++-4.8
addons:
  apt:
    sources:
    - mongodb-3.2-precise
    - ubuntu-toolchain-r-test
    packages:
    - mongodb-org-server
    - g++-4.8
script: npm test
after_success:
  - npm run coverage
  - bash <(curl -s https://codecov.io/bash)
