* {
  box-sizing: border-box;
}
html,
body,
#root,
.provider,
.application,
.dashboard {
  margin: 0, auto;
  height: 100vh;
}
html {
 overflow: hidden;
 position: relative;
 min-height: 100vh;
}
.ui.menu {
  margin: 0;
}
.sidebar {
  height: 86vh;
}
.ui.basic.segment
.library {
  height: 84vh;
}
.images
.ui.tiny.images {
  height: 83vh;
}
.application,
.login
.signup {
  position: relative;
}
.page404,
.homepage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}
