* {
  box-sizing: border-box;
}
html,
body,
#root,
.provider,
.application,
.dashboard {
  margin: 0, auto;
  height: 100vh;
}
html {
 overflow: hidden;
 position: relative;
 min-height: 100vh;
}
.ui.menu {
  margin: 0;
}
.sidebar {
  height: 86vh;
}
.ui.inverted.menu {
  background-color: #2E4172;
}
.ui.basic.segment {
  height: 84vh;
  width: 97%;
}
.library,
.initial {
  height: 82vh;
}
.library {
  overflow-y: scroll;
  background-color: #87468B;
  padding: 0.5em;
}
.initial {
  background-color: #D2CCD2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  border: solid #2185D0;
  border-radius: 0.5em;
}
.pusher {
  width: 92%;
}
.pushable>.pusher {
  background-color: #82BB5D;
}
.images
.ui.tiny.images {
  height: 83vh;
}
.ui.tiny.images .image,
.ui.tiny.images img {
  height: 200px;
  width: 200px;
}
.application,
.login
.signup {
  position: relative;
}
.page404,
.homepage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}
.ui.inverted.icon.menu .item {
  color: #82BB5D;
}

ul {
  list-style-type: none;
}
